body {
  background: #131313;
}

.contain {
  width: 300px;
  height: 300px;
  border: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
}

.planecon {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 300px;
  transform-style: preserve-3d;
  perspective-origin: 50% 50%;
}

.plane {
  display: block;
  position: absolute;
  width: 300px;
  height: 500px;
  background: #262626;
  backface-visibility: visible;
  transform: rotateX(70deg);
  overflow: clip;
}

.line {
  position: absolute;
  width: 900px;
  height: 2px;
  background: #FFFDEF;
  top: 75%;
}

.blink {
  position: absolute;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #fcf9e6, rgba(255, 255, 255, 0));
  width: 25%;
  height: 100%;
  top: 50%;
  opacity: 0;
  transform: translatez(119px);
}

#c1, #c2, #c3, #c4 {
  transform: translatez(-240px) translatey(-100px);
}

#c1 {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #EF476F, rgba(255, 255, 255, 0));
}

#c2 {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #FFD166, rgba(255, 255, 255, 0));
}

#c3 {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #06D6A0, rgba(255, 255, 255, 0));
}

#c4 {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #118AB2, rgba(255, 255, 255, 0));
}

.ml {
  left: 25%;
}

.mr {
  left: 50%;
}

.r {
  left: 75%;
}

.note {
  position: absolute;
  display: flex;
  width: 25%;
  height: 15%;
  animation: note 0.2s cubic-bezier(0.72, 0, 0.62, 1.69) both;
}

.one:not(.hit) {
  background: linear-gradient(to top, rgb(249.2, 188.3, 202.8) 0%, rgb(251.24, 211.76, 221.16) 40%, white 40%, white 45%, rgb(251.24, 211.76, 221.16) 45%, rgb(249.2, 188.3, 202.8) 100%);
  box-shadow: 0 0 20px rgba(239, 71, 111, 0.5);
}

.one.hit:not(.perf) {
  background: rgb(249.2, 188.3, 202.8);
  box-shadow: 0 0 20px rgba(239, 71, 111, 0.5);
}

.two:not(.hit) {
  background: linear-gradient(to top, rgb(255, 232, 178.5) 0%, rgb(255, 239.6666666667, 204) 40%, white 40%, white 45%, rgb(255, 239.6666666667, 204) 45%, rgb(255, 232, 178.5) 100%);
  box-shadow: 0 0 20px rgba(255, 209, 102, 0.5);
}

.two.hit:not(.perf) {
  background: rgb(255, 232, 178.5);
  box-shadow: 0 0 20px rgba(255, 209, 102, 0.5);
}

.tre:not(.hit) {
  background: linear-gradient(to top, rgb(171.3454545455, 252.6545454545, 231.5454545455) 0%, rgb(196.15, 253.35, 238.5) 40%, white 40%, white 45%, rgb(196.15, 253.35, 238.5) 45%, rgb(171.3454545455, 252.6545454545, 231.5454545455) 100%);
  box-shadow: 0 0 20px rgba(6, 214, 160, 0.5);
}

.tre.hit:not(.perf) {
  background: rgb(171.3454545455, 252.6545454545, 231.5454545455);
  box-shadow: 0 0 20px rgba(6, 214, 160, 0.5);
}

.for:not(.hit) {
  background: linear-gradient(to top, rgb(153.6769230769, 222.5538461538, 245.3230769231) 0%, rgb(176.9538461538, 230.0076923077, 247.5461538462) 40%, white 40%, white 45%, rgb(176.9538461538, 230.0076923077, 247.5461538462) 45%, rgb(153.6769230769, 222.5538461538, 245.3230769231) 100%);
  box-shadow: 0 0 20px rgba(17, 138, 178, 0.5);
}

.for.hit:not(.perf) {
  background: rgb(153.6769230769, 222.5538461538, 245.3230769231);
  box-shadow: 0 0 20px rgba(17, 138, 178, 0.5);
}

.perf {
  background: white;
  box-shadow: 0 0 20px #fffdef;
}

#notebase {
  top: -100%;
}

#score, #ratio {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 32px));
  font-family: "Rubik Mono One";
  position: absolute;
  color: #FFFDEF;
  font-size: 32px;
  text-wrap: nowrap;
}

#score {
  transform: translate(-50%, calc(-50% - 128px));
  font-size: 128px;
}

#popcon {
  position: absolute;
  transform: translatez(119px);
  background: rgba(255, 0, 0, 0.5);
}

#cover {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFFDEF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik Mono One";
  font-size: 3em;
  background: rgba(19, 19, 19, 0.75);
}

@keyframes spin {
  from {
    transform: rotateX(-180deg) rotateY(-180deg) rotateZ(-180deg);
  }
  to {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }
}
@keyframes note {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes hit {
  0% {
    opacity: 1;
  }
  100% {
    top: 0;
    height: 100%;
    opacity: 0;
  }
}
@keyframes bop {
  0% {
    perspective: 300px;
  }
  35% {
    perspective: 280px;
  }
  70% {
    perspective: 300px;
  }
  100% {
    perspective: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
